/*----------------------------------------------------------------------------*\
    #COMPONENTS CARDS
\*----------------------------------------------------------------------------*/


.c-cards__image-contact{
    display: flex;
    color: #3d231b;
    margin-left:18%;
    min-height:20px;
}

.c-cards__tekst--contact {
    display: flex;
    text-align:left;
    font-size: 0.65em;
}

.c-cards__image--8-1 {
    width: 100%;
}

.c-cards__image--3-1 {
    width:100%;
    margin-top:-15%;
}







.c-cards__image-1-1 {
    display: block;
    width: 35%;
    margin: 0 auto;
    position: relative;
    margin-top:80px;
}

.c-cards__image-1-2, .c-cards__image-1-3 {
    position: absolute;
    display: block;
}

.c-cards__image-0-1 {
    width: 22%;
    margin-top: -30px;
    margin-left: 100px;
}

.c-cards__image-1-2 {
    width:15%;
    margin-top: 20px;
}

.c-cards__image-2-1 {
    margin-top:1px;
}

.c-cards__image-1-3 {
    width:20%;
    right:120px;
    bottom: 10%;
}

.c-cards__image--4-2 {
    position: absolute;
    width:96%;
    margin-top: 20%;
    z-index: 1;
}

.c-cards__image--4-1 {
    position: relative;
    width: 100%;
    margin-top: 20%;
}

.c-cards__image--5-1 {
    margin-top: 40%;
    width: 60%;
    margin-left: 50px;
}

.c-cards__image--6-1 {
    width: 100%;
    margin-top: 30%;
}

.c-cards__image--7-1 {
    width: 100%;
    margin-top: 20%;
}

.c-cards {

    .c-cards-0, .c-cards-1, .c-cards-2, .c-cards-3, .c-cards-4, .c-cards-5, .c-cards-6, .c-cards-7, .c-cards-8 {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &-0 {
        background: url("../images/background/bg-0.jpg") no-repeat center center fixed;
    }

    &-1 {
        background: url("../images/background/bg-1.jpg") no-repeat center center fixed;
    }
    &-2 {
        background: url("../images/background/bg-2.jpg") no-repeat center center fixed;
    }
    &-3 {
        background: url("../images/background/bg-3.jpg") no-repeat center center fixed;
    }
    &-4 {
        background: url("../images/background/bg-4.jpg") no-repeat center center fixed;
    }
    &-5 {
        background: url("../images/background/bg-5.jpg") no-repeat center center fixed;
    }
    &-6 {
        background: url("../images/background/bg-6.jpg") no-repeat center center fixed;

        a {
            color: #f1a845;
            font-weight: bold;
            text-decoration: underline;
        }

        a:hover, a:active, a:focus {
            color:#e55f3f;
            text-decoration: underline;
        }
    }

    &-7 {
        background: url("../images/background/bg-7.jpg") no-repeat center center fixed;
    }

    &-8 {
        background: url("../images/background/bg-8.jpg") no-repeat center center fixed;

        padding-top: 90px;
        text-align: center;

        a {
            color: #f1a845;
            font-weight: bold;
            text-decoration: underline;
        }

        a:hover, a:active, a:focus {
            color:#e55f3f;
            text-decoration: underline;
        }
    }

    &__title {
        display: block;
        text-align:center;
        margin-top: 90px;
        font-size: 3.7em;
        font-family: 'Bebas Neue', cursive;
    }

    &__subtitle {
        margin-top:20px;
        display: block;
        text-align:center;
        font-size: 0.8em;
    }

    &__image {
        display: flex;
        height: 100%;
        padding-left: 8.750em; 
        padding-right: 4.375em;

        img {
            width: 100%;
            align-self: flex-end;
        }
    }

    &__contact {
        padding-bottom: 90px;
        border-bottom: 1px solid #1e2b45;
    }

    &__data {
        background-color:red;
        width: 37%;
        margin:0 auto;
        margin-top: 35px;
    }

    &__instruction {
        margin-top:200px;
        text-align:center;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #3d231b;
    }

    &--padding-left {
        padding-left: 8.750em; 
        padding-right: 4.375em;
    }

    &--padding-right {
        padding-left: 4.375em;
        padding-right: 8.750em; 
    }

    &__button--donate {
        background: #9755af;
        border-radius: 0;
        color: white;
        display:inline-block;
        font-size: 1.6rem;
        height: 40px;
        line-height: 50px;
        position: fixed;
        z-index:1;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        -moz-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        transform-origin: bottom right;
        width: 150px;
        border-radius: 5px 5px 0 0;
    }
}

.cards-solution {
    display: none;
    opacity: hidden;
}



/*----------------------------------------------------------------------------*\
    MEDIA QUERIES
\*----------------------------------------------------------------------------*/

@media (max-width: 1200px) { 
  .c-cards, #fp-nav {
      display: none;
  }
}