//-------- BODY -------- //
$body-color: #1e2b45;

// //-------- TYPOGRAPHY -------- //
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 1.5em;

$font-family-title: 'Bebas Neue', cursive;

//-------- COLORS ------- //

$color-light-orange: #f1a845;
$color-dark-orange: #e55f3f;
$color-dark-blue:#1e2b45;  
$color-red: red;
$color-brown: #3d231b;
$color-purple: #9755af;
$color-green: #8cc63f;
$color-light-blue: #a9c6d9;
$color-white: white;

