//-------- BODY -------- //
$body-color: #1e2b45;

//-------- TYPOGRAPHY -------- //
$font-family-base: "HK concentrate";
$font-size-base: 1.5em;

// $font-family-title: 'Bebas Neue', cursive;
// $font-size-title: ;
// $font-size-subtitle: ;