html, body, section {
    height: 100%;
@import 'imports';
@import 'variables';
    margin: 0;
    color: #1e2b45;
    font-family: "HK concentrate";
    font-size: 1.1em;
    border: 0;
}

div {
    display: flex;
    flex-direction: column;
}

@import 'imports';