/*----------------------------------------------------------------------------*\
    #COMPONENTS (alphabetical)
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*\
    #COMPONENTS CARDS
\*----------------------------------------------------------------------------*/
.c-cards__image-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3d231b;
  margin-left: 18%;
  min-height: 20px;
}

.c-cards__tekst--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 0.65em;
}

.c-cards__image--8-1 {
  width: 100%;
}

.c-cards__image--3-1 {
  width: 100%;
  margin-top: -15%;
}

.c-cards__image-1-1 {
  display: block;
  width: 35%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
}

.c-cards__image-1-2, .c-cards__image-1-3 {
  position: absolute;
  display: block;
}

.c-cards__image-0-1 {
  width: 22%;
  margin-top: -30px;
  margin-left: 100px;
}

.c-cards__image-1-2 {
  width: 15%;
  margin-top: 20px;
}

.c-cards__image-2-1 {
  margin-top: 1px;
}

.c-cards__image-1-3 {
  width: 20%;
  right: 120px;
  bottom: 10%;
}

.c-cards__image--4-2 {
  position: absolute;
  width: 96%;
  margin-top: 20%;
  z-index: 1;
}

.c-cards__image--4-1 {
  position: relative;
  width: 100%;
  margin-top: 20%;
}

.c-cards__image--5-1 {
  margin-top: 40%;
  width: 60%;
  margin-left: 50px;
}

.c-cards__image--6-1 {
  width: 100%;
  margin-top: 30%;
}

.c-cards__image--7-1 {
  width: 100%;
  margin-top: 20%;
}

.c-cards .c-cards-0, .c-cards .c-cards-1, .c-cards .c-cards-2, .c-cards .c-cards-3, .c-cards .c-cards-4, .c-cards .c-cards-5, .c-cards .c-cards-6, .c-cards .c-cards-7, .c-cards .c-cards-8 {
  background-size: cover;
}

.c-cards-0 {
  background: url("../images/background/bg-0.jpg") no-repeat center center fixed;
}

.c-cards-1 {
  background: url("../images/background/bg-1.jpg") no-repeat center center fixed;
}

.c-cards-2 {
  background: url("../images/background/bg-2.jpg") no-repeat center center fixed;
}

.c-cards-3 {
  background: url("../images/background/bg-3.jpg") no-repeat center center fixed;
}

.c-cards-4 {
  background: url("../images/background/bg-4.jpg") no-repeat center center fixed;
}

.c-cards-5 {
  background: url("../images/background/bg-5.jpg") no-repeat center center fixed;
}

.c-cards-6 {
  background: url("../images/background/bg-6.jpg") no-repeat center center fixed;
}

.c-cards-6 a {
  color: #f1a845;
  font-weight: bold;
  text-decoration: underline;
}

.c-cards-6 a:hover, .c-cards-6 a:active, .c-cards-6 a:focus {
  color: #e55f3f;
  text-decoration: underline;
}

.c-cards-7 {
  background: url("../images/background/bg-7.jpg") no-repeat center center fixed;
}

.c-cards-8 {
  background: url("../images/background/bg-8.jpg") no-repeat center center fixed;
  padding-top: 90px;
  text-align: center;
}

.c-cards-8 a {
  color: #f1a845;
  font-weight: bold;
  text-decoration: underline;
}

.c-cards-8 a:hover, .c-cards-8 a:active, .c-cards-8 a:focus {
  color: #e55f3f;
  text-decoration: underline;
}

.c-cards__title {
  display: block;
  text-align: center;
  margin-top: 90px;
  font-size: 3.7em;
  font-family: 'Bebas Neue', cursive;
}

.c-cards__subtitle {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.c-cards__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 8.750em;
  padding-right: 4.375em;
}

.c-cards__image img {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.c-cards__contact {
  padding-bottom: 90px;
  border-bottom: 1px solid #1e2b45;
}

.c-cards__data {
  background-color: red;
  width: 37%;
  margin: 0 auto;
  margin-top: 35px;
}

.c-cards__instruction {
  margin-top: 200px;
  text-align: center;
}

.c-cards__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #3d231b;
}

.c-cards--padding-left {
  padding-left: 8.750em;
  padding-right: 4.375em;
}

.c-cards--padding-right {
  padding-left: 4.375em;
  padding-right: 8.750em;
}

.c-cards__button--donate {
  background: #9755af;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1.6rem;
  height: 40px;
  line-height: 50px;
  position: fixed;
  z-index: 1;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  width: 150px;
  border-radius: 5px 5px 0 0;
}

.cards-solution {
  display: none;
  opacity: hidden;
}

/*----------------------------------------------------------------------------*\
    MEDIA QUERIES
\*----------------------------------------------------------------------------*/
@media (max-width: 1200px) {
  .c-cards, #fp-nav {
    display: none;
  }
}

.c-cards__mouse {
  width: 52px;
  height: 88px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  background: #1e2b45 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #a9c6d9), to(#a9c6d9));
  background: #1e2b45 linear-gradient(transparent 0%, transparent 50%, #a9c6d9 50%, #a9c6d9 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  -webkit-animation: colorSlide 8s linear infinite;
          animation: colorSlide 8s linear infinite;
}

.c-cards__mouse:before,
.c-cards__mouse:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.c-cards__mouse:before {
  width: 47px;
  height: 83px;
  background-color: white;
  border-radius: 100px;
}

.c-cards__mouse:after {
  content: "";
  background: #1e2b45;
  width: 6px;
  height: 14px;
  top: -35px;
  left: 50%;
  margin-left: -2px;
  border-radius: 20px;
  -webkit-animation: trackBallSlide 1.8s infinite;
          animation: trackBallSlide 1.8s infinite;
}

.c-cards__mouse-title {
  text-align: center;
  font-size: 0.5em;
  margin-top: 10px;
}

/* Animations */
@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #1e2b45;
  }
  29.99% {
    background-color: #a9c6d9;
    background-position: 0% 0%;
  }
  30% {
    background-color: #1e2b45;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #1e2b45;
  }
  59% {
    background-color: #a9c6d9;
    background-position: 0% 0%;
  }
  60% {
    background-color: #1e2b45;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #1e2b45;
  }
  90%, 100% {
    background-color: #a9c6d9;
  }
}
@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #1e2b45;
  }
  29.99% {
    background-color: #a9c6d9;
    background-position: 0% 0%;
  }
  30% {
    background-color: #1e2b45;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #1e2b45;
  }
  59% {
    background-color: #a9c6d9;
    background-position: 0% 0%;
  }
  60% {
    background-color: #1e2b45;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #1e2b45;
  }
  90%, 100% {
    background-color: #a9c6d9;
  }
}

@-webkit-keyframes trackBallSlide {
  from {
    top: -35px;
  }
  to {
    top: -10px;
    opacity: 0;
  }
}

@keyframes trackBallSlide {
  from {
    top: -35px;
  }
  to {
    top: -10px;
    opacity: 0;
  }
}

.c-accordion {
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}

.c-accordion__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  color: #ff0000;
}

.c-accordion__btn {
  margin-top: 50px;
  background-color: #8cc63f;
  color: white;
  border: 1px solid #1e2b45 !important;
  padding: 6px 15px !important;
}

.c-accordion h3 {
  font-size: 0.6em;
  font-weight: 600;
}

.c-accordion__item {
  border-top: 1px solid white;
  cursor: pointer;
}

.c-accordion__item:last-child {
  border-bottom: 1px solid white;
}

.c-accordion__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -4px;
  margin-bottom: 2px;
}

.c-accordion__item i {
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-accordion__item p {
  display: none;
  font-size: 0.6em;
  padding: 15px;
}

.c-accordion__item pre {
  display: none;
  width: 90%;
  margin-left: 15px;
}

.c-accordion__item-active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cards-solution .c-accordion {
  border: 1px solid #8cc63f;
}

.cards-solution .c-accordion__title {
  color: #8cc63f;
}

xmp {
  white-space: pre-wrap;
}

.c-cards-3 .c-cards__text {
  margin-top: 60px;
}

* {
  margin: 0;
  padding: 0;
}

html, body, section {
  color: #1e2b45;
  font-family: "HK concentrate";
  font-size: 1.5em;
}

html a, body a, section a {
  text-decoration: none;
}

html a:hover, html a:active, html a:focus, body a:hover, body a:active, body a:focus, section a:hover, section a:active, section a:focus {
  text-decoration: none;
  color: white;
}

.fp-tableCell {
  vertical-align: top !important;
}

.c-message {
  text-align: center;
  font-weight: 200;
  vertical-align: center;
  position: relative;
  margin-top: 70px;
  padding: 30px;
}

.c-message p {
  font-size: 1.2em;
}

.c-message__image {
  margin-top: 30px;
  width: 40%;
}

.fa-handshake-o {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */