@import 'imports';
@import 'variables';

* {
    margin: 0;
    padding: 0;
}

html, body, section {
    color: $body-color;
    font-family: $font-family-base;
    font-size: $font-size-base;
}

@import 'imports';