@import 'imports';
@import 'variables';
@import 'mouseAnimation';
@import 'accordion';

* {
    margin: 0;
    padding: 0;
}

html, body, section {
    color: $body-color;
    font-family: $font-family-base;
    font-size: $font-size-base;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }
}

.fp-tableCell {
    vertical-align: top !important;
}

.c-message {
    text-align: center;
    font-weight: 200;
    vertical-align: center;
    position:relative;
    margin-top: 70px;
    padding: 30px;

    p {
        font-size: 1.2em;
    }

    &__image {
        margin-top:30px;
        width:40%;
    }
}

.fa-handshake-o {
    margin-right:10px;
}